.specifics{
    background-color: lightyellow;
    border-radius: 10px;
    padding: 10px;
}

.specifics img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    float: right;
    top: 5px;
}

#specifics-title{
    color: green; 
    font-size: 14pt;
}