<mat-dialog-content class="mat-typography">
    <h2 mat-dialog-title> Change Password </h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onChangeCallback()">
        <mat-form-field appearance="fill">
            <mat-label> Old Password </mat-label>
            <input matInput type="password" formControlName="OldPassword">
            <mat-error>
                Old password is a must for password change !
            </mat-error>
        </mat-form-field><br><br>
        <mat-form-field appearance="fill">
            <mat-label> New Password </mat-label>
            <input matInput type="password" formControlName="Password">
            <mat-error>
                You need to input a valid password with a minimum of 8 characters !
            </mat-error>
        </mat-form-field><br><br>
        <mat-form-field>
            <mat-label> Confirm New Password </mat-label>
            <input matInput type="password" formControlName="ConfirmPassword">
        </mat-form-field>
        <small *ngIf="!changePasswordForm.controls['Password'].pristine && !changePasswordForm.controls['ConfirmPassword'].pristine">
            <mat-error *ngIf="(!changePasswordForm.valid && changePasswordForm.errors != null)">
                {{ changePasswordForm.errors['message'] }}
            </mat-error>
        </small>
        <mat-dialog-actions align="end">
            <button mat-flat-button mat-dialog-close color="warn">Cancel</button>
            <button mat-flat-button cdkFocusInitial type="submit" color="primary">Change</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>