.dash-card
{
    position: absolute;
    width: 400px;
    height: 500px;
    padding: 20px;
    border-radius: 5%;
    // margin-left: 50%;
    // margin-top: 50%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mat-card-avatar
{
    width: 50px;
    height: 50px;
}

